<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddTeamServlets</servlet-name>
        <servlet-class>za.ac.tut.web.AddTeamServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTeamServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatistics</servlet-name>
        <servlet-class>za.ac.tut.web.GetStatistics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTeamServlets</servlet-name>
        <url-pattern>/AddTeamServlets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTeamServlet</servlet-name>
        <url-pattern>/RemoveTeamServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatistics</servlet-name>
        <url-pattern>/GetStatistics.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
